.bigdiv{
    background-image: url(the-lab-saigon-urban-legend---gyutan-restaurant-restaurants-archello.1702446193.9421.jpg);
    height: 500px;
}
.na1 img{
    height: 70px;
}
.na1 h2{
    position: absolute;
    top: 3%;
    left: 6%; 
}
.na1 ul{
    position: absolute;
    display: flex;
    left: 70%;
    top: 3%;

}
@media (min-width:768px) {
    .na1 ul{
        margin-left: -300px;
    }
    
}
.na1 ul a {
    margin: 10px;
    color: wheat;
    list-style-type: none;
    text-decoration: none;
}
.na1 ul a:hover {
    cursor: pointer;
    color: aqua;
    transition: 1s;

}
.about1 h2 {
    color: whitesmoke;
    position: absolute;
    left: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    top: 30%;
}
.about1 p{
    color: white;
    position: absolute;
    left: 20%;
    top: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.us{
    position: absolute;
    left: 4%;
    top: 100%;
    width: 95%;
    background-color: wheat;

}
.us p{
    position: absolute;
    left: 50%;
    top: 20%;

}
.us h2{
    position: absolute;
    left: 50%;
    top: 10%;
}